{% extends 'baseUser.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2 m-auto">
                <h1 class="pt-5 text-center">Vos informations</h1>
                <hr>
                <div class="row">
                    <div class="col-4 offset-2 text-center py-3">
                        <p>Prénom</p>
                    </div>
                    <div class="col-4 text-center py-3">
                        <p>{{app.user.name}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4 offset-2 text-center py-3">
                        <p>Adresse email</p>
                    </div>
                    <div class="col-4 text-center py-3">
                        <p>{{app.user.email}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4 text-center py-3">
                        <a href="{{ path('profil_update')}}"><button>Modifier</button></a>
                    </div>
                    <div class="col-4 text-center py-3">
                        <a href="{{ path('profil_resetPassword')}}"><button>Modifier Mot de passe</button></a>
                    </div>
                    <div class="col-4 text-center py-3">
                        <a href="{{ path('profil_delete')}}"><button>Supprimer</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
