{% extends 'baseAdmin.html.twig' %}

{% block title %}Liens VR{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-12 text-center">
             <h1>Liens VR</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% for games in game %}
                <p>{{ games.title }}</p>
                <p>{{ games.text }}</p>
                <a href="{{ games.url }}">Lien</a>
                <a href="{{ path('admin_links_update', {'id':games.id})}}"><button>Modifier</button></a>
                <a href="{{ path('admin_links_delete', {'id':games.id})}}"><button>Supprimer</button></a>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {% for videos in video %}
                <p>{{ videos.title }}</p>
                <p>{{ videos.text }}</p>
                <a href="{{ videos.url }}">Lien</a>
                <a href="{{ path('admin_links_update', {'id':videos.id})}}"><button>Modifier</button></a>
                <a href="{{ path('admin_links_delete', {'id':videos.id})}}"><button>Supprimer</button></a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a href="{{ path('admin_links_add')}}"><button>Ajouter un lien</button></a>
        </div>
    </div>
        
        
</div>
{% endblock %}